html,
body {
  min-width: 290px;
  color: black;
  background-color: #f5f5f5;
  font-family: Trebuchet MS, Arial;
  line-height: 1.4;
}
#navbar {
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: blue;
}
header {
  color: blue;
  font-size: 28px;
  margin: 10px;
  text-align: center;
  font-weight: bold;
}
#main-doc header {
  margin: 0px;
}
#navbar ul {
  height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
}
#navbar li {
  color: blue;
  border: 1px solid;
  border-bottom-width: 0px;
  padding: 8px;
  padding-left: 45px;
  list-style: none;
  position: relative;
  left: -50px;
  width: 100%;
}
#navbar a {
  color: blue;
  text-decoration: none;
  cursor: pointer;
}
#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}
section article {
  margin: 12px;
}
code {
  display: block;
  text-align: left;
  white-space: pre;
  position: relative;
  line-height: 2;
  background-color: #B3E5FC;
  border-radius: 12px;
  font-size: 18px;
  padding: 10px;
  margin: 10px;
}
@media only screen and (max-width: 815px) {
  #navbar ul {
    border: 2px solid;
    height: 210px;
  }
  #navbar {
    background-color: white;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }
  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }
}
@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }
  code {
    margin-left: -20px;
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
  }
}
